{% extends 'catalog/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load custom_tags %}
{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="col-6">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
{#                                {{ form.as_p }}#}
{#                                <button type="submit">#}
{#                                    {% if object %}#}
{#                                    Сохранить#}
{#                                    {% else %}#}
{#                                    Создать#}
{#                                    {% endif %}#}
{#                                </button>#}
                                {% crispy form %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}